*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(cou.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    
}
.header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
  }
  .nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
  .nav,
  .nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    color-scheme: antiquewhite;
   
    justify-content: space-between;
  }
  .nav_item {
    column-gap: 25px;
    
  }
  .nav_link:hover {
    color: #99b3e7;
  }
  .nav_link{
    color:rgb(229, 236, 243)
  }
  .nav_logo{
    color:rgb(246, 190, 122);
    font-size: large;
  }
